*.iml
.gradle/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/navEditor.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Built application files
*.apk
*.aar
*.ap_
*.aab
# Files for the ART/Dalvik VM
*.dex
# Java class files
*.class
proguard/
*.log
.navigation/
captures/
*.jks
*.keystore
google-services.json
build/
bin/
gen/
out/
vcs.xml
.cxx/
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
*.hprof